// SCSS variables
$primary-color: #C7EF00;
$accent-color-dark: #161414;
$accent-color-dark-2: #333;
$accent-color-light: white;


// Element styling
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    height: 100%;
    background-color: $accent-color-dark
}

body
{
    display: flex;
    font-family: "Roboto", sans-serif;
    color: $accent-color-light;
    text-align: center;

    & > div
    {
        width: 50%;
        height: 100%;
    }
}

p
{
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 3rem;
    font-size: .8rem;
}


// Left section
#left
{
    background-color: $primary-color;
    color: $accent-color-dark;
    display: flex;
    justify-content: center;
    align-items: center;
}


// Left section inner
#left-inner
{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;

    #album-art-container
    {
        padding: .6rem;
        $size: 170px;
        width: $size;
        height: $size;
        background-color: $accent-color-light;

        #album-art
        {
            width: 100%;
            height: 100%;
        }
    }
}


// Right section
#right
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;

    canvas
    {
        opacity: 0;
    }
}


// Audio and visualizer controls
#audio-controls
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    input[type="range"]
    {
        width: 60%;
    }
}