// SCSS variables
$primary-color: #C7EF00;
$accent-color-dark: #161414;
$accent-color-dark-2: #333;
$accent-color-light: white;


// Element styling
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    height: 100%;
    background-color: $accent-color-dark
}

body
{
    display: flex;
    font-family: "Roboto", sans-serif;
    color: $accent-color-light;
    text-align: center;

    & > div:not(#overlay)
    {
        width: 50%;
        height: 100%;
    }
}

p
{
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 3rem;
    font-size: .8rem;
}


// Startup screen
#overlay
{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $accent-color-dark;
    text-align: left;
    z-index: 999;

    $text-padding-x: 2.2rem;
    $text-padding-y: .75rem;

    #overlay-inner
    {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    h1
    {
        font-size: 3rem;
        padding: 0 $text-padding-x;
        color: $primary-color;

        &:last-child
        {
            padding-bottom: $text-padding-y;
        }
    }

    div:last-child
    {
        width: 100%;

        p
        {
            color: $accent-color-light;
            padding: $text-padding-y $text-padding-x;
            font-size: 1rem;
            text-align: right;
        }
    }
}


// Left section
#left
{
    background-color: $primary-color;
    color: $accent-color-dark;
    display: flex;
    justify-content: center;
    align-items: center;
}


// Left section inner
#left-inner
{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;

    #album-art-container
    {
        padding: .6rem;
        $size: 170px;
        width: $size;
        height: $size;
        background-color: $accent-color-light;

        #album-art
        {
            width: 100%;
            height: 100%;
        }
    }
}


// Right section
#right
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}


// breakpoint for tablets
@media only screen and (min-width: 768px)
{
    p
    {
        font-size: 1rem;
    }

    i
    {
        margin-right: 2rem;
    }

    #album-art-container
    {
        $size: 250px !important;
        width: $size;
        height: $size;
    }

    #overlay-inner
    {
        width: 80% !important;
    }
}


// breakpoint for landscape tablets or desktops
@media only screen and (min-width: 992px)
{
    #left-inner
    {
        width: 60%;
    }

    #overlay-inner
    {
        width: 50% !important;
    }
}


// breakpoint for larger devices
@media only screen and (min-width: 1400px)
{
    p
    {
        font-size: 1.25rem;
    }

    #overlay-inner
    {
        width: 30% !important;
    }
}