$color1: #040F16;
$color2: #E03616;
$color3: #D7D9CE;
$color4: #0C7489;
$color5: #119DA4;

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    height: 100%;
    overflow: hidden;
    background-color: $color1;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    letter-spacing: .1rem;
    color: $color3;
}

select, input[type="color"]
{
    margin-left: .25rem;
}

.footer-line
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    white-space: pre-wrap;
    margin: .75rem 0;

    code
    {
        white-space: pre;
        padding: .1rem .2rem;
        background-color: rgba($color4, .1);
        text-align: center;
    }
}

.disabled-section
{
    transform: scale(.8);
    opacity: .5;
}

#overlay
{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $color1;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2rem;

    h2
    {
        margin-bottom: 3rem;
    }

    & > p
    {
        margin: .25rem 0;
        text-decoration: underline;
    }

    div
    {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: .5rem 0;
        transition: transform .25s ease-in-out, opacity .25s ease-in-out;
    }
}

#start-button
{
    margin-top: 1rem;
    padding: .1rem .2rem;
}

#footer
{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    padding: .5rem .75rem;
    font-size: .85rem;
}