$color1: #040F16;
$color2: #E03616;
$color3: #D7D9CE;
$color4: #0C7489;
$color5: #119DA4;

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    overflow: hidden;
    background-color: $color1;
}